<ion-footer>
    <div class="footerApp">
        <div class="buttonFooter" (click)="buttonFooter(1)"><i class="fas fa-home fa-2x"></i></div>
        <div class="buttonFooter" (click)="buttonFooter(2)"><i class="fas fa-lightbulb fa-2x"></i></div>
        <div class="buttonFooter scale-up-bottom" (click)="buttonFooter(3)"><i class="fas fa-images fa-2x"></i></div>
        <div class="buttonFooter" (click)="buttonFooter(4)"><i class="fas fa-question fa-2x"></i></div>
        <div class="buttonFooter" (click)="buttonFooter(5)"><i class="fas fa-user fa-2x"></i></div>
    </div>
</ion-footer>