.container {
    width: 100vw;
    height: 100vh;
    color: white;
    background: rgba(0, 0, 0, 0)
}

.slidesImg {
    width: 100vw;
    height: 40vh;
    background: white;
    position: absolute;
    bottom: 5vh;
    background: #f9f5cb;
}

.buttonUp {
    width: 100vw;
    height: 10vh;
    background: #f9f5cb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 45vh;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.50);
}

.imgSlide {
    height: 28vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background: #f9f5cb;
}

.slide {
    padding: 10px 0;
    background: #f9f5cb;
}

.upload-btnImg-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btnImg {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 5em;
    font-weight: bold;
}

.upload-btnImg-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
}