<div class="container">
    <div class="buttonUp">
        <h1>
            Choose image
        </h1>
    </div>
    <div class="slidesImg">
        <ion-slides scrollbar="false" [options]="slideOpts" class="slide">
            <ion-slide *ngFor="let slide of imgs">
                <img class="imgSlide" [src]="slide.img" (click)="changeImg(slide.img)" />
            </ion-slide>
            <ion-slide>
                <div class="upload-btnImg-wrapper">
                    <div class="imgSlide" style="display: flex">
                        <button class="btnImg">📷</button>
                        <input type="file" name="myfile" accept="image/*" capture="camera" (change)="addPhoto($event)" />
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="upload-btnImg-wrapper">
                    <div class="imgSlide" style="display: flex">
                        <button class="btnImg">📁</button>
                        <input type="file" name="myfile" accept="image/*" (change)="addPhoto($event)" />
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</div>
