<div class="container">
    <ion-card [routerLink]="['/fourPieces']" routerDirection="backward">
        <ion-card-header>
            <ion-card-subtitle>4 parts</ion-card-subtitle>
            <ion-card-title>Easy level</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card [routerLink]="['/ninePieces']" routerDirection="backward">
        <ion-card-header>
            <ion-card-subtitle>9 parts</ion-card-subtitle>
            <ion-card-title>Middle level</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card [routerLink]="['/twelvePieces']" routerDirection="backward">
        <ion-card-header>
            <ion-card-subtitle>12 parts</ion-card-subtitle>
            <ion-card-title>Hard level</ion-card-title>
        </ion-card-header>
    </ion-card>
</div>
